@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(15vh);
    }
  }
  
  .modalEnter {
    animation: slideDown 0.5s ease-out forwards;
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-50%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  .hs-dropdown-enter {
    animation: slideInLeft 0.5s ease-out forwards;
  }

  @keyframes toastEnter {
    from {
      transform: translate(150%, 100%); /* Start from off-screen right */
      opacity: 0;
    }
    to {
      transform: translate(150%, 0); /* End at bottom right */
      opacity: 1;
    }
  }
  
  .animate-toastEnter {
    animation: toastEnter 0.5s ease-out forwards;
  }


  /* for CollectionModal */
  @keyframes bounceFadeIn {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .modalBounceFadeIn {
    animation: bounceFadeIn 0.5s ease-out forwards;
  }

  /* Slide down/up animation for accordion */
  .accordion-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease, opacity 0.3s ease;
    opacity: 0;
  }

  .accordion-open {
    opacity: 1;
    transition: max-height 0.5s ease, opacity 0.3s ease;
  }

  .accordion-closed {
    opacity: 0;
  }

  /* Style changes for open accordion */
  button.accordion-open {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  button.accordion-closed {
    background-color: #101010;
    color: #E1E1E1;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* Slide in from left */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide in from right */
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Slide out to left */
@keyframes slideOutToLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* Slide out to right */
@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-in-from-left {
  animation: slideInFromLeft 0.5s forwards;
}

.slide-in-from-right {
  animation: slideInFromRight 0.5s forwards;
}

.slide-out-to-left {
  animation: slideOutToLeft 0.5s forwards;
}

.slide-out-to-right {
  animation: slideOutToRight 0.5s forwards;
}




/* Heatmap styles */
.heatmap-container {
  display: grid;
  grid-template-columns: repeat(53, 1fr); /* Adjust to create a 7x53 grid for all 365/366 days */
  gap: 4px;
  position: relative; 
  padding-bottom: 50px; /* Add padding to accommodate the legend */
}

.heatmap-square {
  width: 14px;
  height: 14px;
  border-radius: 4px;
}

.bg-grey {
  background-color: #222526;
}

.bg-light-green {
  background-color: #166634;
}

.bg-medium-green {
  background-color: #2F9A5F;
}

.bg-dark-green {
  background-color: #1A582E;
}

/* Legend styles */
.heatmap-legend {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heatmap-legend span {
  margin: 0 5px;
  font-size: 12px;
}

.heatmap-legend-square {
  width: 14px;
  height: 14px;
  margin: 0 2px;
  border-radius: 4px;
}
  




  .animated-button {
    display: grid;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;
    --border-angle: 0turn; /* For animation. */
    --main-bg: conic-gradient(from var(--border-angle),
            rgb(51, 34, 17),
            rgb(51, 32, 0) 5%,
            rgb(51, 34, 0) 60%,
            rgb(51, 42, 17) 95%);
    border: solid 2px transparent;
    --gradient-border: conic-gradient(from var(--border-angle),
            transparent 25%,
            rgb(255, 128, 0),
            transparent 99%,
            transparent);
    background:
        var(--main-bg) padding-box,
        var(--gradient-border) border-box,
        var(--main-bg) border-box;
    background-position: center center;
    animation: bg-spin 3s linear infinite;
  }
  
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

  /* shadow for main video on homepage */
  .shadow-orange {
    box-shadow: 0 4px 8px rgba(255, 165, 0, 0.3), 
                0 6px 20px rgba(255, 165, 0, 0.3);
  }

  /* rounded corners for collection cards */
  .rounded-bottom-corners {
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
  }

  
